.heading {
    font-size: 40px;
    margin-left: 1rem;
    font-family: fantasy;
}

.welcome {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 1rem;
    padding-top: 10px;
}

.card {
    margin: 0 10px;
    margin-top: 1rem;
    border-radius: 8px;
	border: #fff;
}

.card1 {
    margin-left: 21rem;
}

.welcome img {
    width: 20rem;
    margin-left: 7rem;
    margin-top: 1rem;
    
}

.preface img {
    width: 25rem;
    margin-left: 6rem;
    margin-top: 1rem;
}

.letstart img {
    width: 20rem;
    margin-top: 1.5rem;
    margin-left: 7rem;
    position: fixed;
}

.elearnstart img {
	width: 20rem;
    margin-top: 0.7rem;
    margin-left: 7rem;
    position: fixed;
}

#instructor {
    background: rgb(20, 202, 138);
    font-family: 'Courier New', Courier, monospace;
    background-clip: content-box;
    border-radius: 5px;
}

.card-head {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-content {
    font-family: 'Courier New', Courier, monospace;
}

.live-card1 {
    margin-top: 3rem;
    margin-left: 15rem;
}

.live-card {
    margin-left: 15rem;
}

.text-content {
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

.fixed {
    position: fixed;
    bottom: 5px;
    margin-left: 65rem;
}

.enter-button {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.enter-button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.enter-button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .enter-button {
    padding: 6px 15px;
  }
}

.card-head-live {
    font-family:cursive;
}

.live-assignment {
    font-family:cursive;
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

.courses-container {
	margin-left: 12rem;
}

.courses-container-c {
	margin-left: 12rem;
	margin-top: 3rem;
}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 700px;
}

.course h7 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h5 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 20px;
	max-width: 250px;
}

.course-preview-html {
	background-color: #f06529;
	color: #fff;
	padding: 20px;
	width: 170px;
}

.course-preview-css {
	background-color: #2965f1;
	color: #fff;
	padding: 20px;
	width: 170px;
}

.course-preview-javascript {
	background-color: #d4b90f;
	color: #fff;
	padding: 20px;
	width: 170px;
}

.course-preview-angularjs {
	background-color: #a6120d;
	color: #fff;
	padding: 20px;
	width: 170px;
}

.course-preview-project {
	background-color: #075606;
	color: #fff;
	padding: 20px;
	width: 170px;
}

.course-preview-python {
	background-color: #306998;
	color: #fff;
	padding: 20px;
	width: 170px;
}

.course-preview-c {
	background-color: #050d82;
	color: #fff;
	padding: 20px;
	width: 170px;
}

.course-preview-question {
	background-color: #a6120d;
	color: #fff;
	padding: 20px;
	width: 170px;
}

.course-preview-answer {
	background-color: #075606;
	color: #fff;
	padding: 20px;
	width: 170px;
}

.course-preview-output {
	background-color: #d6b40b;
	color: #fff;
	padding: 20px;
	width: 170px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 5px;
	position: relative;
	width: 100%;
}

.btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 7px 18px;
	position: absolute;
	bottom: 15px;
	right: 15px;
	letter-spacing: 1px;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

.btn-home {
    background-color: rgb(20, 202, 138);;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 18px;
	padding: 7px 18px;
	position: absolute;
	bottom: 20px;
	right: 155px;
	letter-spacing: 1px;
}

.btn-back {
    background-color: #fff;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: black;
	text-decoration: none;
	font-size: 22px;
	padding: 7px 7px;
}

.back-button-div {
    margin-top: 2rem;
    margin-left: 13.3rem;
	margin-right: 5rem;
}

.demo-btn {
	background-color: rgb(5, 112, 44);
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
	text-decoration: none;
	font-size: 20px;
	padding: 7px 18px;
}